/identifier.db
/.idea
/identifier.db.wal
Practice/01Practice/nike_discounts.json
/Practice/01Practice/task01_teacher.sql
/Practice/04Practice/.venv/
/Practice/04Practice/police.csv
/Practice/04Practice/instagram_usage_lifestyle.csv
/Practice/04Practice/task_teacher.py
/Practice/05Practice/.venv/
/Practice/05Practice/Episodes.csv
